body {
	background-color: #383e4b;
}

h2 {
	font-size: 16px;
	line-height: 16px;
	font-weight: 300;
}

.content {
	text-align:center;
}

.loginBox {
	display: inline-block;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: left;
}

.googleLoginButton {
	display: inline-block;
	background: #cc3732;
	color: white;
	width: 265px;
	border-radius: 5px;
}

.googleLoginButton .icon {
	background: url(https://google-developers.appspot.com/+/images/branding/btn_red_32.png) transparent 5px 50% no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
}

.googleLoginButton .text {
	display: inline-block;
	vertical-align: middle;
	padding-left: 40px;
	padding-right: 40px;
}
